
.env
.env.*
instance/
secrets/
*.pem
*.key

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
migrate_working_dir/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release


ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace
*.xcuserstate
*.xcworkspace
*.xcuserdatad
*.xcscmblueprint
.DS_Store

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.pid
*.sock


Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


*.class
*.log
*.swp
.build/
.buildlog/
.history
.svn/
.swiftpm/
.atom/
app.*.symbols
app.*.map.json
